<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- 🔒 Permiso de cámara -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET"/>


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/Theme.MiTaller">
    <activity
            android:name=".ActualizarEstadoActivity"
            android:exported="false" />
        <activity
            android:name=".ActualizarMaquinaActivity"
            android:exported="false" />
        <activity
            android:name=".HomeProfesorActivity"
            android:exported="false" /> <!-- 🔍 Lector QR con ZXing (pantalla vertical) -->
        <activity
            android:name=".ScanQrActivity"
            android:exported="false"
            android:screenOrientation="portrait" /> <!-- 📲 Actividad de captura personalizada para ZXing -->
        <activity
            android:name=".PortraitCaptureActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/zxing_CaptureTheme" /> <!-- 🚪 Login (inicio de la app) -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- 🧾 Registro -->
        <activity
            android:name=".RegisterActivity"
            android:exported="false" /> <!-- 🏠 Pantalla principal -->
        <activity
            android:name=".HomeActivity"
            android:exported="false" /> <!-- ⚠️ Si no usás MainActivity, podés eliminarla -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>